body {
    margin: 0;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* DELETE LATER MAYBE ^^^^^^^^^^^^^^^^^^^^^ */
}

.topNavigator {
    display: flex;
    width: 90%;
    padding: 1% 5% 1% 5%;
    font-size: clamp(0.7rem, 2.4vw, 5rem);
    background-color: gray;
}

.navigator {
    width: calc(100%/3);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.navigator.logo {
    text-align: center;
}

.navigator.links {
    display: flex;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.navLink {
    width: 50%;
    border-right: 2px solid white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
